{% extends 'layouts/base.html' %}
{% load static %}
{% block body %}

<div  class= "public_input_module">
    {% if error_msg %}
    <p id="error_msg">{{ error_msg }}</p>
    {% else %}
    <p id="error_msg"></p>
    {% endif %}
    <form action="{{ api_register }}" method="POST">
        <input name="next" type="hidden" value="{{ next_page }}">
        <table>
            <tr>
                <td> <input placeholder = "磨坊登录账号"  type = "text" name = "username" id="username_id"></td>
            </tr>
            <tr>
                <td> <input placeholder = "磨坊登录密码" type = "password" name = "password" id ="password_id"></td>
            </tr>
            <tr>
                <td><input name="email" type="text" placeholder="邮箱" /></td>
            </tr>
            <tr>
                <td><input placeholder = "验证码" id = "verify_code" name="verify_code" type="text"><img id="verify_code_img" src="{{ api_captcha }}"></td>
            </tr>
            <tr>
                <td><input type="submit" id="register_submit" value="注册"></td>
            </tr>
            <tr>
                <td><a href="{{ api_login }}">已有帐号?立即登录</a></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
